*{
    margin:0;
    padding:0;

}
header{
    font-family: 'K2D', sans-serif;
    background:#CD5C5C;
    color:#333;
    /*text-transform: uppercase;*/
    font-size: 1.5em;
    line-height:2.5em;
    padding:2.5% 0 2.5% 0;
    text-align:center;
    margin-bottom:2%;
}
h3,h4,h5{
    margin-bottom:1%;
    margin-top:1%;
    font-family: 'Slabo 27px', serif;
}
h3{
    font-weight:bold;
    font-size:1.5em;
    font-family: 'K2D', sans-serif;
    padding:1%;
}
button{
    font-size:1.5em;

}